<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ModelGenerator.tt" #> 

<#	
	//System.Diagnostics.Debugger.Launch();
	
	var modelGenerator = new ModelGenerator(); 	
	modelGenerator.AssemblyName = "Northwind.ServiceModel";
	modelGenerator.Namespace = "Northwind.ServiceModel.Dto";	

	modelGenerator.Run();	

#>
