@inherits ViewPage<CollectionResponse<Customer>>

@{
    ViewBag.Title = String.Format("{0} customers found", Model.Result.Count);
    Layout = "HtmlReport";
}

<h3>Showing @ViewBag.Title</h3>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Contact Name</td>
            <td>Company Name</td>
            <td>Contact Title</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
    </tfoot>
</table>