/* File Created: September 6, 2013 */

html, body 
{
    margin: 20px;
}

.active 
{
    font-weight: bold;	
}

.table-header-cell 
{
	cursor: pointer;	
}

.table-footer 
{    
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #999;
    height: 35px;
    padding: 8px;
}

tfoot .pagination {
    margin: 0;
}